
@{
    Layout = "~/Views/UILayout/Index.cshtml";
}

<!-- Page Header -->
@Html.Action("DefaultFeaturePartial")
<!-- End of Page Header -->
<!-- About section -->
@Html.Action("DefaultAboutPartial")

<!-- Service section -->
@Html.Action("DefaultServicePartial")

<!-- End of Sectoin -->
<!-- Skills section -->
@Html.Action("DefaultSkillPartial")
<!-- End of Skills sections -->
<!-- Portfolio section -->
@Html.Action("DefaultProjectPartial")
<!-- End of portfolio section -->
<!-- Testmonial Section -->

@Html.Action("DefaultTestimonialPartial")
<!-- End of testmonial section -->


<!-- Hire me section -->
<section class="bg-gray p-0 section">
    <div class="container">
        <div class="card bg-primary">
            <div class="card-body text-light">
                <div class="row align-items-center">
                    <div class="col-sm-9 text-center text-sm-left">
                        <h5 class="mt-3">Contact Me For Your Project</h5>
                        <p class="mb-3">For web applications, game development, and UI/UX design projects, feel free to get in touch with me.</p>
                    </div>
                    <div class="col-sm-3 text-center text-sm-right">
                        <a class="btn btn-light rounded" href="#contact">Contact Me!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End od Hire me section. -->
<!-- Contact Section -->
<section id="contact" class="position-relative section">
    <div class="container text-center">
        <h6 class="subtitle">Contact</h6>
        <h6 class="section-title mb-4">Get In Touch With Me</h6>
        <p class="mb-5 pb-4">For any questions or project inquiries, you can contact me through the form below.</p>

        <div class="contact text-left">
            @Html.Action("SendMessage")
            @Html.Action("DefaultContactInfoPartial")
            
        
</section>
<!-- End of Contact Section -->
