@model StellerAcunMedyaAkademiPortfolio.Models.TblFeature
@{
    ViewBag.Title = "UpdateFeature";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Update Feature Page</h2>

<form method="post">

    @Html.HiddenFor(x=>x.FeatureId)
    <label>Image Url</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    <br />
    <label>Title</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label>Name Surname</label>
    @Html.TextBoxFor(x => x.NameSurname, new { @class = "form-control" })
    <br />
    <label>Job</label>
    @Html.TextBoxFor(x => x.Job, new { @class = "form-control" })
    <br />
    <label>Cv Download Url</label>
    @Html.TextBoxFor(x => x.CvDownloadUrl, new { @class = "form-control" })
    <br />

    <button class="btn btn-outline-primary">Update</button>

</form>

